In [17]:
import csv
import pandas as pd

In [15]:
with open("ratings.csv",'r') as file1:
  sheet=csv.reader(file1)
  # print(len(sheet))
  for row in sheet:
    print(row[0])
    break

user_id

In [18]:
file_path = 'ratings.csv'
column_name = 'user_id'
df = pd.read_csv(file_path)
unique_values_count = df[column_name].nunique()
print(unique_values_count)

50798

In [21]:
books = pd.read_csv('books.csv')
max_rating_row = books[books['work_ratings_count'] == books['work_ratings_count'].max()]

# Extract the title and rating from the row
title_with_highest_rating = max_rating_row['title'].values[0]
highest_rating = max_rating_row['work_ratings_count'].values[0]

print(f"The title with the highest rating is '{title_with_highest_rating}' with a rating of {highest_rating}.")

The title with the highest rating is 'The Hunger Games (The Hunger Games, #1)' with a rating of 4942365.

In [23]:
books_with_same_title_count = (books['title'] == books['original_title']).sum()
print(books_with_same_title_count)
#books_with_same_title_count=349
books_without_same_title_count = (books['title'] != books['original_title']).sum()
print(books_without_same_title_count)

349
1005

In [26]:
unique_books_count = books['book_id'].nunique()
print("unique_books_count",unique_books_count)

unique_books_count 1354

In [29]:
file_path = 'book_tags.csv'
book_tags = pd.read_csv(file_path)
print(book_tags.head())
grouped_df = book_tags.groupby('goodreads_book_id')['count'].sum().reset_index()
print(grouped_df.head())
min_count_book_id = grouped_df.loc[grouped_df['count'].idxmin()]['goodreads_book_id']
min_count_value = grouped_df['count'].min()
print(grouped_df.loc[grouped_df['count'].idxmin()])
print(f"The 'goodreads_book_id' with the least total count is: {min_count_book_id}")
print(f"The least total count is: {min_count_value}")

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716
   goodreads_book_id   count
0                  1  359447
1                  2   73667
2                  3  786374
3                  5  227215
4                  6  141246
goodreads_book_id    15743078
count                     686
Name: 1197, dtype: int64
The 'goodreads_book_id' with the least total count is: 15743078
The least total count is: 686

In [37]:

toread = pd.read_csv('toread.csv')

book_user_count = toread.groupby('book_id')['user_id'].nunique()
book_user_countrst = toread.groupby('book_id')['user_id'].agg(list).reset_index()
# book_user_list = df.groupby('book_id')['user_id'].agg(list).reset_index()

for row in book_user_countrst:
  print(row)
  if row[0]==2:
    break
print(book_user_countrst)
most_users_book_id = book_user_count.idxmax()
most_users_count = book_user_count.max()

print(f"The 'book_id' with the most associated 'user_id' is: {most_users_book_id}")
print(f"The number of unique 'user_id' for this book is: {most_users_count}")

book_id
user_id
      book_id                                            user_id
0           1  [5453, 6891, 525, 3250, 6187, 4341, 6821, 8117...
1           2  [1953, 2965, 3028, 2240, 457, 4337, 4647, 5127...
2           3  [590, 2952, 4205, 5598, 5778, 2432, 6284, 4670...
3           6  [18826, 18922, 8130, 17184, 18926, 13366, 1854...
4          12  [19975, 13504, 7728, 22382, 29417, 17682, 1559...
...       ...                                                ...
1349     9925  [17025, 34220, 33486, 39328, 9084, 38430, 4275...
1350     9937  [16060, 13568, 26214, 24136, 27173, 12541, 282...
1351     9942  [30001, 11710, 11084, 24424, 13255, 37256, 221...
1352     9947  [10231, 23002, 23274, 29876, 29357, 27348, 325...
1353     9955  [15270, 19891, 11288, 24333, 28790, 36628, 329...

[1354 rows x 2 columns]
The 'book_id' with the most associated 'user_id' is: 47
The number of unique 'user_id' for this book is: 2772

In [38]:

print(book_tags.head())
grouped_df = book_tags.groupby('goodreads_book_id')['count'].sum().reset_index()
print(grouped_df.head())
min_count_book_id = grouped_df.loc[grouped_df['count'].idxmax()]['goodreads_book_id']
min_count_value = grouped_df['count'].max()
print(grouped_df.loc[grouped_df['count'].idxmax()])
print(f"The 'goodreads_book_id' with the highest total count is: {min_count_book_id}")
print(f"The highest total count is: {min_count_value}")

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716
   goodreads_book_id   count
0                  1  359447
1                  2   73667
2                  3  786374
3                  5  227215
4                  6  141246
goodreads_book_id         3
count                786374
Name: 2, dtype: int64
The 'goodreads_book_id' with the highest total count is: 3
The highest total count is: 786374